@import "tailwindcss";
@tailwind base;
@tailwind utilities;
@tailwind components;

@keyframes blink {
  0%, 100% { opacity: 1 }
  50% { opacity: 0 }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

/* Root styles */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background, #2B4B77);
  color: var(--foreground, white);
  font-family: "Times New Roman", Times, serif;
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
